#For local test in IDE
server:
  port: 8181
management:
  endpoints:
    web:
      exposure:
        include: health
app:
  enable:
    service: true


spring:
  config:
    import: application-common.yml
  datasource:
    url: jdbc:postgresql://localhost/iks_db
    driver-class-name: org.postgresql.Driver
    username: ${TEST_DB_USERNAME}
    password: ${TEST_DB_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      show-sql: true
      ddl-auto: update
  output:
    ansi:
      enabled: DETECT

telegram:
  bot:
    token: ${TEST_TELEGRAM_BOT_TOKEN}
    name: ${TEST_TELEGRAM_BOT_NAME}
    reconnectTimeout: 10000
    adminId: ${TEST_TELEGRAM_ADMIN_ID}
    visibleName: AthleteSearch

logging:
  level:
    root: INFO
    com.dp_ua: DEBUG
    com.dp_ua.iksparser.dba: INFO